@media screen and (max-width: 767px){
    .product{
        &__nameContainer{
            display: flex;
            &__name{
                display: block;
                text-align: center;
            }
        }
        &__container{
            &__links{
                border: 3px #f3e9f1 solid;
                display: block;
                margin: 0 auto;
                width: 80%;
                flex-basis: 100%;
                flex-wrap: wrap;
                margin-top: 20px;
                &__imgctr{                    
                    &__img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &__articlename{
                    text-align: center;
                    background-color: #f3e9f1;
                }
            }
        }
        &__color{
            display: block;
            margin: 0 auto;
            margin-top: 15px;
        }
        &__price{
            text-align: center;
            margin: 25px;
        }
        &__addToCart{
            display: flex;
            justify-content: space-around;
            margin-bottom: 25px;
        }
        &__description{
            margin: 25px;
        }
    }
}