@media screen and (max-width: 767px)
{
    .header{
        display: flex;
        justify-content: space-around;
        background-color: #f3e9f1;
        width: 100vw;
        height: 50px;
        position: relative;
        &__list{
            display: flex;
            align-items: center;
            position: absolute;
            left: 12px;
            height: 50px;
            font-size: 20px;
        }
        &__signin{
            display: flex;
            align-items: center;
            height: 50px;
            position: absolute;
            right: 12px;
            font-size: 12px;
            font-weight: 700;
            color: #261624;
        }
    }
}